<% unless tasks.empty? %>
    <div class="col-lg-5">
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead class="header-table">
          <tr>
            <th class="text-left">Label</th>
            <th class="text-center">state</th>
            <th class="text-center">time</th>
          </tr>
          </thead>

          <tbody>
          <% tasks.each do |task| %>
              <% case task.state
                   when "start"
                     color_class="label label-primary"
                   when "over"
                     color_class="label label-success"
                   when "fail"
                     color_class="label label-danger"
                   else
                     color_class="label label-default"
                 end %>

              <tr>
                <td class="text-left vert-align"><%= task.label %></td>
                <td class="text-center vert-align"><span class="<%= color_class %>"><%= task.state %></span></td>

                <td class="text-center vert-align"><%= task.time %></td>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% else %>
    <p>no task</p>
<% end %>

