<div class="container-fluid">


  <div id="visits<%= policy_id %>" style="">

    <%= render partial: 'visits/visits', :locals => {:execution_mode => execution_mode,
                                                     :policy_id => policy_id,
                                                     :state => state,
                                                     visits: Visit.where({:policy_id => policy_id, :state => state}).order("start_time desc")} %>
  </div>

</div>