<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Listing Visits</h3>
  </div>
  <p>

  <div id="visits" style="">
    <%= render partial: 'visits/index', :locals => {:policy_id => nil,
                                                    :visits => @visits,
                                                    :state => @state,
                                                    :policy_type => nil} %>
  </div>
  </p>
</div>